<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new hike</title>
</head>
<body>
<p>Add new hike</p>
<form method="post" th:action="@{/hiking/submit}">
    <div>
        <label>Date</label>
        <textarea name="date"></textarea>
    </div>
    <div>
        <label>Duration</label>
        <textarea name="duration"></textarea>
    </div>
    <div>
        <label>Route waypoints</label>
        <textarea name="route"></textarea>
    </div>
    <button type="submit">Submit :)</button>

</form>

<form id="wiadomosci-form" action="/przetwarzanie_danych" method="post">
    <div id="wiadomosci-container">
        <label>Wpisz swoje wiadomości:</label><br>
        <textarea name="wiadomosci" rows="4" cols="50"></textarea><br>
    </div>
    <button type="button" onclick="dodajPole()">Dodaj nowe pole</button><br>
    <input type="submit" value="Wyślij">
</form>

<script>
    function dodajPole() {
        var container = document.getElementById("wiadomosci-container");
        var textarea = document.createElement("textarea");
        textarea.name = "wiadomosci";
        textarea.rows = "4";
        textarea.cols = "50";
        container.appendChild(textarea);
        container.appendChild(document.createElement("br"));
    }
</script>






<form action="/przetwarzanie_danych" method="post" id="waypoints-form">
    <div id="waypoints-container">
        <label for="waypoints">Wybierz Waypoint:</label><br>
        <select name="waypoints">
            <!-- Generowanie opcji z listy allWaypoints -->
            <option th:each="waypoint : ${allWaypoints}" th:value="${waypoint}" th:text="${waypoint.name}"></option>
        </select><br>
    </div>
    <button type="button" onclick="dodajWaypoint()">Dodaj kolejny Waypoint</button><br>
    <input type="submit" value="Wyślij">
</form>



<script>
    function dodajWaypoint() {
        var container = document.getElementById("waypoints-container");
        var select = document.createElement("select");
        select.name = "waypoints";

        // Dodaj opcje do nowego selecta (takie same jak w pierwszym select)
        var options = container.getElementsByTagName("select")[0].getElementsByTagName("option");
        for (var i = 0; i < options.length; i++) {
            var option = document.createElement("option");
            option.value = options[i].value;
            option.text = options[i].text;
            select.appendChild(option);
        }

        container.appendChild(select);
        container.appendChild(document.createElement("br"));
    }
</script>

</body>
</html>