<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new hike</title>
</head>
<body>
<h2>Add new hike: </h2>
<br>
<form method="post" th:action="@{/hiking/submit}">
    <div>
        <label>Enter hike date: [YYYY-MM-DD]</label>
        <br>
        <textarea name="date"></textarea>
    </div>
    <div>
        <br><br>
        <label>Enter hike duration: [HH:MM]</label>
        <br>
        <textarea name="duration"></textarea>
    </div>
    <div>
        <br><br>
        <label for="waypoint1">Select start waypoint:</label>
        <br>
        <select id="waypoint1" name="waypoint[0]" onchange="pobierzDostepneSciezki(this)">
            <option th:each="waypoint : ${allWaypoints}" th:value="${waypoint.name}"
                    th:text="${waypoint.name}"></option>
        </select>
    </div>
    <div>
        <br><br>
        <label for="waypoint2">Select another hike waypoint:</label>
        <br>
        <select id="waypoint2" name="waypoint[1]" onchange="pobierzDostepneSciezki(this)">
            <option th:each="waypoint : ${allWaypoints}" th:value="${waypoint.name}"
                    th:text="${waypoint.name}"></option>
        </select><br><br>
    </div>
    <div id="waypoints-container"></div>
    <button type="button" onclick="dodajWaypoint()">Add new waypoint</button>
    <button type="submit">Submit hike</button>
</form>

<script th:inline="javascript">
    var allWaypointsPaths = /*[[${allWaypointsPaths}]]*/;
    var waypointsArray = [];
    var waypointCounter = 2;

  function pobierzDostepneSciezki(selectElement) {
        var selectedWaypoint= selectElement.options[selectElement.selectedIndex].text;

        console.log("Wybrany Waypoint:", selectedWaypoint);

        var sciezkiContainer = document.getElementById("waypoints-container");
        sciezkiContainer.innerHTML = '';

        var select = document.createElement("select");
        select.name = "sciezki";

        var availablePaths = mapData.get(selectedWaypoint);
        console.log("Dostępne ścieżki:", availablePaths);

        if (availablePaths && availablePaths.length > 0) {
            availablePaths.forEach(function (sciezka) {
                var option = document.createElement("option");
                option.value = sciezka;
                option.text = sciezka;
                select.appendChild(option);
            });
        } else {
            // Dodaj komunikat, gdy nie ma dostępnych ścieżek
            var option = document.createElement("option");
            option.text = "Brak dostępnych ścieżek";
            select.appendChild(option);
        }

        sciezkiContainer.appendChild(select);
    }

    function dodajWaypoint() {
        var waypointsContainer = document.getElementById("waypoints-container");
        if (!waypointsContainer) {
            waypointsContainer = document.createElement("div");
            waypointsContainer.id = "waypoints-container";
            document.getElementById("waypoints-form").appendChild(waypointsContainer);
        }

        var newWaypointDiv = document.createElement("div");
        var cloneSelect = document.getElementById("waypoint1").cloneNode(true);

        var waypointIndex = "waypoint[" + waypointCounter + "]";
        cloneSelect.id = waypointIndex;
        cloneSelect.name = waypointIndex;
        waypointCounter++;

        cloneSelect.selectedIndex = 0;

        cloneSelect.onchange = function () {
            pobierzDostepneSciezki(cloneSelect);
        };

        newWaypointDiv.appendChild(cloneSelect);
        newWaypointDiv.appendChild(document.createElement("br"));

        waypointsContainer.appendChild(newWaypointDiv);

        waypointsArray.push(waypointIndex);
    }

</script>
</body>
</html>
